body {
    padding: 10px;
}

.container {
    flex-direction: row;
}

.container-fluid {
    padding: 1px;
}

img {
    margin: 2px;
}

.info-container {
    flex-direction: column;
    padding: 1px;
}

.listing-container {
    flex-direction: row;
}
