{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <h1>Listing: {{ listing.title }}</h1>
    <img src="{{ listing.img_url }}">
    <div>{{ listing.description }}</div>
    <strong>Curent Bid: {{ listing.starting_bid }}</strong>
    {% if request.user.is_authenticated %}
        <div class="info-container">
            <div>
                <button>ADD TO WATCH LIST</button>
            </div>
            <div>
                <button>PLACE BID</button>
            </div>
            <div>
                <textarea>Type your comment here</textarea>
            </div>
        </div>
    {% endif %}
    <h2>Details</h2>
    <ul>
        <li>{{ listing.seller }}</li>
        <li>Listed On: {{ listing.created }}</li>
        {% if listing.category %}
        <li>Category: {{ listing.category }}</li>
        {% endif %}
        {% if not listing.category %}
        <li>No Category Listed</li>
        {% endif %}
    </ul>
</div>
{% endblock %}